<script id="tmpl-MainView" type="text/html">
<div class="MainView">
	<div class="MainView-header">
	<div class="navbar">
              <div class="navbar-inner">
                <ul class="nav">
                  {{#each result}}
                  <li data-name="{{name}}"><a href="#" class="showEmails">{{fullName}}</a></li>
                  {{/each}}
                  <li class="search" >
                     <input type="text" name="searchSubject"/>
                     <input type="text" name="searchFrom"/>
                     <button class="btn search" >Search</button>
                  </li>
                </ul>
              </div>
            </div>
  	</div>
	
  	<div class="MainView-content">
  	</div>
</div>
</script>