<script id="tmpl-MainView" type="text/html">
<div class="MainView">
	<div class="MainView-header">
	<div class="navbar">
              <div class="navbar-inner">
                <ul class="nav">
                  <li class="active" ><a href="#" class="showEmails">Emails</a></li>
                  <!--<li><a href="#" class="showGroups">Groups</a></li>-->
                  <!--<li><a href="#" class="createContact" >Create Contact</a></li>-->
                  <!--<li><a href="#" class="createGroup" >Create Group</a></li>-->
                </ul>
              </div>
            </div>
  	</div>
	
  	<div class="MainView-content">
  	</div>
</div>
</script>